* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.main-body {
  position: relative;
}
.main-body .header {
  position: fixed;
  top: 0px;
}
.main-body .items {
  position: absolute;
  top: 100px;
  left: 260px;
}
